/*-- scss:defaults --*/

// headings
$presentation-heading-font-weight: 400;
$presentation-heading-color: #BF1932;


/*-- scss:rules --*/

// increase font size of code + output but not verbatim elements
code.sourceCode {
  font-size: 1.6em;
}
div.cell-output-stdout {
  font-size: 1.6em;
}

h2 > img{
  bottom: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.reveal strong {
  color: $presentation-heading-color;
}

.reveal pre code {
  max-height: 1000px;
}

.reveal .callout.callout-style-default div.callout-body {
 	  font-size: var(--r-main-font-size);
}

.center-xy {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.center-x {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.center-img {
  margin: 0;
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.space-above {
    margin-top: 5% !important;
}

.noscroll {
  overflow-x: hidden !important;
}

.accent {
  color: $presentation-heading-color;
}

.nobrk {
  white-space: nowrap;
  overflow: hidden;
}

.red {
  color: #ff0000 !important;
}

.green {
  color: #00aa00 !important;
}

.blue {
  color: #0000ff !important;
}

.orange {
  color: #FCa22d !important;
}

.grey {
  color: gray !important;
}

.reveal .caption {
  text-align: center !important;
}

#vcenter {
  vertical-align: middle;
}

.myblock {
  background: lightgreen;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  color: black;
}

.myyellowblock {
  background: #fbdcc0;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
}
